.popup {
    top: 0;
    max-width: 1280px;
    margin: 0 auto;
    z-index: 1;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000080;
}

@media screen and (max-width: 767px) {
    .popup {
        max-width: 767px;
    }
}