.profile__edit-button {
    width: 24px;
    height: 24px;
    background-color: black;
    border: 2px solid white;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__edit-button:hover {
    opacity: 80%;
}

@media screen and (max-width: 320px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin-left: 15.25px;
    }
}