.page {
    font-family: 'Inter', 'Arial', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    color: #FFFFFF;
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    /*width: calc(100% - 200px *2);*/
    margin: 45px 200px 0;
}

.header__logo {
    height: 33px;
    width: 142px;
}

.content {
 
}

.profile {
    display: flex;
    /*width: calc(100% - 200px * 2);*/
    margin: 77.25px 200px 0;
    display: flex;
    justify-content: space-between;
}

.profile__avatar {
    width: 127.5px;
    height: 127.5px;
    border-radius: 50%;
}

.profile__info {
    display: flex;
    justify-items: flex-start;
    align-items: center;
}

.profile__name {
    
}

.profile__name_author {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0 0 16px;
}

.profile__name_comment {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}

.profile__edit-button {
    width: 24px;
    height: 24px;
    background-color: black;
    border-color: white;
    margin-left: 25px;
}

.profile__edit-button_picture {
    width: 10px;
    height: 10px;
    padding: 0;
}

.profile__button {
    width: 150px;
    height: 50px;
    background-color: black;
    padding: 14px 64px;
    border-color: white;
}

.profile__button_picture {
    width: 22px;
    height: 22px;
    padding: 0;
}

.elements {
    /*width: calc(100% - 200px * 2);*/
    margin: 47.25px 200px 0;
}

.elements__list {
    list-style: none;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 17px;;
    padding-left: 0;
}

.elements__element {

}

.elements__figure {
    margin: 0;
    overflow: hidden;
    border-radius: 5%;
}

.elements__photo {
    width: 282px;
    height: 282px;
    margin: 0;
    padding: 0;
    display: block;
   
}

.elements__caption {
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 25px 20px 31px;
    
}

.elements__title {
    color: black;
    background-color: white;
    margin: 0;
    line-height: 29,05px;
    font-size: 24px;
    font-weight: 900;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    
}

.elements__like {

}

.footer {
    /*width: calc(100% - 200px * 2);*/
}

.footer__copyright {
    color: grey;
    margin: 67px 200px 60px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}