.page {
    font-family: 'Inter', 'Arial', 'sans-serif';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: black;
    color: #FFFFFF;
    max-width: 1280px;
    margin: 0 auto;
}

.header {
    width: calc(100% - 200px *2);
    margin: 45px auto 0;
    border-bottom: 1px solid rgba(84,84,84, .7);
}

@media screen and (max-width: 320px) {
    .header {
        width: calc(100% - 27px * 2);
        margin: 28px auto 0;
    }
}

.header__logo {
    height: 33px;
    width: 142px;
    margin-bottom: 41px;
}

@media screen and (max-width: 320px) {
    .header__logo {
        width: 103.74px;
        height: 24.4 px;
        margin-bottom: 31.6px;
    }
}
.content {
 
}

.profile {
    display: flex;
    width: calc(100% - 200px * 2);
    margin: 36.25px auto 0;
    justify-content: space-between;
}

@media screen and (max-width: 320px) {
    .profile {
        flex-direction: column;
        width: calc(100% - 19px * 2);
        margin: 38.25px auto 0;
        align-items: center;
        justify-content: center;
    }
}

.profile__avatar {
    width: 127.5px;
    height: 127.5px;
    border-radius: 50%;
}

.profile__info {
    display: flex;
    align-items: center;
    justify-self: flex-start;
}

@media screen and (max-width: 320px) {
    
}

.profile__name {
    
}

.profile__name_author {
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    margin: 0 0 16px;
}

@media screen and (max-width: 320px) {
    .profile__name_author {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
        font-style: normal;
    }
}

.profile__name_comment {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .profile__name_comment {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}

.profile__edit-button {
    width: 24px;
    height: 24px;
    background-color: black;
    border: solid white;
    margin-left: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__edit-button:hover {
    opacity: 80%;
}

@media screen and (max-width: 320px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        margin-left: 15.25px;
    }
}

.profile__edit-button_picture {
    width: 10px;
    height: 10px;
    padding: 0;
}

@media screen and (max-width: 320px) {
    .profile__edit-button_picture {
        width: 7.5px;
        width: 7.5px;
    }
}

.profile__button {
    width: 150px;
    height: 50px;
    background-color: black;
    border: solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile__button:hover {
    opacity: 80%;
}

@media screen and (max-width: 320px) {
    .profile__button {
        width: 282px;
        height: 50px;
        margin-top: 36px;
    }
}

.profile__button_picture {
    width: 22px;
    height: 22px;
    padding: 0;
}

@media screen and (max-width: 320px) {
    .profile__button_picture {
        width: 16px;
        height: 16px;
    }
}

.elements {
    width: calc(100% - 200px * 2);
    margin: 47.25px auto 0;
}

@media screen and (max-width: 320px) {
    .elements {
        width: calc(100% - 19px * 2);
        margin: 36px auto 0;
    }
}

.elements__list {
    list-style: none;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 17px;
    padding-left: 0;
}

@media screen and (max-width: 320px) {
    .elements__list {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }
}

.elements__element {
    max-width: 282px;
}

.elements__figure {
    margin: 0;
    overflow: hidden;
    border-radius: 5%;
}

@media screen and (max-width: 320px) {
    
}

.elements__photo {
    width: 282px;
    height: 282px;
    margin: 0;
    padding: 0;
    display: block;
}

.elements__caption {
    background-color: white;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 25px 20px 31px;
    max-width: 282px;
}

.elements__title {
    color: black;
    background-color: white;
    margin: 0;
    line-height: 29,05px;
    font-size: 24px;
    font-weight: 900;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 190px;
}

@media screen and (max-width: 320px) {
    
}

.elements__like {
    background: url(./pictures/empty_like.svg) no-repeat;
    width: 22px;
    height: 19px;
}

.elements__like:hover {
    background: url(./pictures/Union.svg) no-repeat;
}

.footer {
    width: calc(100% - 200px * 2);
    margin: 67px auto 60px;
}

@media screen and (max-width: 320px) {
    .footer {
        width: calc(100% - 19px * 2);
        margin: 48px auto 36px;
    }
}

.footer__copyright {
    color: grey;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

@media screen and (max-width: 320px) {
    .footer__copyright {
        font-size: 14px;
        line-height: 19px;
    }
}