.header__logo {
    height: 33px;
    width: 142px;
    margin-bottom: 41px;
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 103.74px;
        height: 24.4 px;
        margin-bottom: 31.6px;
    }
}