.profile__comment {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 250px;
}

@media  screen and (max-width: 1279px) {
    .profile__comment {
        max-width: 200px;
    }
}

@media screen and (max-width: 1023px) {
    .profile__comment {
        text-align: center;
    }
}

@media screen and (max-width: 767px) {
    .profile__comment {
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}