.profile__button-picture {
    width: 22px;
    height: 22px;
    padding: 0;
}

@media screen and (max-width: 320px) {
    .profile__button-picture {
        width: 16px;
        height: 16px;
    }
}